$elementSeparator: '__'; 
$modifierSeparator: '--';
 
@mixin b($block) {
   .#{$block} {
       @content; 
   }
}
@mixin e($element) {
    @at-root {
        #{&}#{$elementSeparator+$element} {
            @content;
        }
    }    
}
@mixin m($modifier) {
    @at-root {
        #{&}#{$modifierSeparator+$modifier} {
            @content;
        }
    }
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}