/** Structure and layout **/
.btn {
    border-radius: 25px;
    border-width: 0.2rem;
    border-style: none;
    min-width: 100px;
    max-width: 300px;
    white-space: normal;
    padding: 1rem 1.25rem;

    &:before {
        float: left;
    }

    &:hover {
        border-radius: 22px; 
    }

    @include m('submit') {
        min-width: 230px;
    }

    @include m('small') {
        min-width: initial;
        border-radius: 18px;
        padding: 0.5rem 1.5rem;

        &:hover {
            border-radius: 15px;
        }
    }

    @include m('block') {
        display: block;
        width: 100%;
    }

    /** Icons **/
    svg {        
        height: 1rem;        
    }
}

/** Feedback **/
.btn {
    transition: box-shadow 0.4s, border-radius 0.2s, background-color 0.4s, color 0.4s;
    
    &:hover {
        transition: box-shadow 0.1s, border-radius 0.05s, background-color 0.05s, color 0.05s;
    }

    &:focus {
        text-decoration: underline;
        box-shadow: 0px 0px 6px 2px rgba(126,20,65,0.3);    
    }
}

/** Colours **/
.btn {
    background-color: $clrBrand1;
    color: $clrWhite;

    &:hover {
        background-color: $clrBrand1Light;
        color: $clrWhite;
    }

    &:active, &:focus {
        color: $clrWhite;
    }

    @include m('secondary') {
        background-color: $clrWhite;        
        border-style: solid;
        border-color: $clrBrand1;
        color: $clrBrand1;

        &:hover {
            background-color: $clrGrey60;
            border-color: $clrBrand1Dark;
            color: $clrBrand1Dark;
        }

        &:active, &:focus {
            color: $clrBrand1Dark;
        }
    }

    @include m('blue') {
        background-color: $clrBrand2;
        &:hover {
            background-color: $clrBrand2Light;
        }

        &.btn--secondary {
            border-style: solid;
            border-color: $clrBrand2;
            background-color: $clrWhite;
            color: $clrBrand2;
            &:hover {
                background-color: $clrGrey60;
                border-color: $clrBrand2Dark;
                color: $clrBrand2Dark;
            }
            &:active, &:focus {
                color: $clrBrand2Dark;
            }
        }
    }
}

/** Effects **/
.btn {
    box-shadow: 0px 3px 3.8px 0.2px rgba(0, 0, 0, 0.3);
}

/** Buttons that look like text links **/
.btn {
    @include m('text') {
        display: inline-block;
        background-color: transparent;
        border: none;
        transition: color 0.4s;

        &:focus,
        &:hover {
            background-color: transparent;
            // color: $clrBrand1;
            text-decoration: underline;
            transition: color 0.05s;
        }

        &.btn--pink {
            color: $clrBrand1;
        }
        &.btn--blue {
            color: $clrBrand2;        
        }
    }
}

/** Disabled button overrides all other styles if defined **/
.btn {
    @include m('disabled') {        
        background-color: $clrDisabledLight;        
        color: $clrDisabledDark;
        box-shadow: none;
        border-color: $clrDisabledLight;
        pointer-events: none; 

        &:hover {
            background-color: $clrDisabledLight;
            color: $clrDisabledDark;
        }
    }
    &:disabled {
        background-color: $clrDisabledLight;
        color: $clrDisabledDark;
        box-shadow: none;
        pointer-events: none;

        &:hover {
            background-color: $clrDisabledLight;
            color: $clrDisabledDark;
        }
    }

}

/** Exceptions **/
.listTable {
    .btn {
        font-size: 1rem; 
    }
}